<br><br><br><br><br><h1 style="font-size:2em;color:#2467C0">Predict survival on the Titanic and get familiar with ML basics</h1><br><br><br>

In [326]:
#from pyspark.sql import SQLContext
from pyspark.sql import DataFrameNaFunctions
from pyspark.sql.types import FloatType, IntegerType
from pyspark.ml import Pipeline
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import Binarizer
from pyspark.ml.feature import VectorAssembler, StringIndexer, VectorIndexer
from pyspark.sql.functions import when, udf, col, collect_list
import numpy as np

In [327]:
# Load the data stored in CSV format as DataFrame.
trainData = spark.read.format("org.apache.spark.csv") \
            .option("header","true").option("inferSchema", "true") \
            .csv("data/train.csv")
testData = spark.read.format("org.apache.spark.csv") \
            .option("header","true").option("inferSchema", "true") \
            .csv("data/test.csv")
submissionData = spark.read.format("org.apache.spark.csv") \
                .option("header","true").option("inferSchema", "true") \
                .csv("data/gender_submission.csv")

In [328]:
trainData.count()
testData.count()
trainData.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [329]:
trainData.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
PassengerId,891,446.0,257.3538420152301,1,891
Survived,891,0.3838383838383838,0.48659245426485753,0,1
Pclass,891,2.308641975308642,0.8360712409770491,1,3
Name,891,None,None,"""Andersson, Mr. August Edvard (""""Wennerstrom"""")""","van Melkebeke, Mr. Philemon"
Sex,891,None,None,female,male
Age,714,29.69911764705882,14.526497332334035,0.42,80.0
SibSp,891,0.5230078563411896,1.1027434322934315,0,8
Parch,891,0.38159371492704824,0.8060572211299488,0,6
Ticket,891,260318.54916792738,471609.26868834975,110152,WE/P 5735
Fare,891,32.2042079685746,49.69342859718089,0.0,512.3292
Cabin,204,None,None,A10,T
Embarked,889,None,None,C,S

In [330]:
testData.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
PassengerId,418,1100.5,120.81045760473994,892,1309
Pclass,418,2.2655502392344498,0.8418375519640503,1,3
Name,418,None,None,"""Assaf Khalil, Mrs. Mariana (Miriam"""")""""""","van Billiard, Master. Walter John"
Sex,418,None,None,female,male
Age,332,30.272590361445783,14.181209235624424,0.17,76.0
SibSp,418,0.4473684210526316,0.8967595611217135,0,8
Parch,418,0.3923444976076555,0.9814288785371694,0,9
Ticket,418,223850.98986486485,369523.7764694362,110469,W.E.P. 5734
Fare,417,35.6271884892086,55.907576179973844,0.0,512.3292
Cabin,91,None,None,A11,G6
Embarked,418,None,None,C,S

In [331]:
# Create new Int field "SexInt" based on the existing String field "Sex"
# Sex "Male" = 1
# Sex "Female" = 0
newTrainData = trainData.withColumn('SexInt', 
                                    when(trainData.Sex == 'female', 0)
                                    .otherwise(1)
                                    )
newTrainData = newTrainData.withColumn('embarkedInt', 
                                       when(newTrainData.Embarked == 'C', 0)
                                       .when(newTrainData.Embarked == 'Q', 1)
                                       .otherwise(2)
                                      )
newTrainData = newTrainData.withColumn('familySize',
                                      newTrainData.SibSp + newTrainData.Parch)
                                      

newTestData = testData.withColumn('SexInt', 
                                    when(testData.Sex == 'female', 0)
                                    .otherwise(1)
                                    )
newTestData = newTestData.withColumn('embarkedInt', 
                                       when(newTestData.Embarked == 'C', 0)
                                       .when(newTestData.Embarked == 'Q', 1)
                                       .otherwise(2)
                                      )
newTestData = newTestData.withColumn('familySize',
                                      newTestData.SibSp + newTestData.Parch)
newTrainData.printSchema()
newTrainData.show(50)
#newTestData.count()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- SexInt: integer (nullable = false)
 |-- embarkedInt: integer (nullable = false)
 |-- familySize: integer (nullable = true)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+------+-----------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|    Fare|      Cabin|Embarked|SexInt|embarkedInt|familySize|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+------+-----------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|    7.25|       null|       S|     1|          2|         1|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599| 71.2833|        C85|       C|     0|          0|         1|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|   7.925|       null|       S|     0|          2|         0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|    53.1|       C123|       S|     0|          2|         1|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|    8.05|       null|       S|     1|          2|         0|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877|  8.4583|       null|       Q|     1|          1|         0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463| 51.8625|        E46|       S|     1|          2|         0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909|  21.075|       null|       S|     1|          2|         4|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742| 11.1333|       null|       S|     0|          2|         2|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736| 30.0708|       null|       C|     0|          0|         1|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|    16.7|         G6|       S|     0|          2|         2|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|   26.55|       C103|       S|     0|          2|         0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|    8.05|       null|       S|     1|          2|         0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082|  31.275|       null|       S|     1|          2|         6|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406|  7.8542|       null|       S|     0|          2|         0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|    16.0|       null|       S|     0|          2|         0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652|  29.125|       null|       Q|     1|          1|         5|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|    13.0|       null|       S|     1|          2|         0|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|    18.0|       null|       S|     0|          2|         1|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|   7.225|       null|       C|     0|          0|         0|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|    26.0|       null|       S|     1|          2|         0|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|    13.0|        D56|       S|     1|          2|         0|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923|  8.0292|       null|       Q|     0|          1|         0|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|    35.5|         A6|       S|     1|          2|         0|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|          349909|  21.075|       null|       S|     0|          2|         4|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077| 31.3875|       null|       S|     0|          2|         6|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|            2631|   7.225|       null|       C|     1|          0|         0|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|           19950|   263.0|C23 C25 C27|       S|     1|          2|         5|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|          330959|  7.8792|       null|       Q|     0|          1|         0|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|null|    0|    0|          349216|  7.8958|       null|       S|     1|          2|         0|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601| 27.7208|       null|       C|     1|          0|         0|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|        PC 17569|146.5208|        B78|       C|     0|          0|         1|
|         33|       1|     3|Glynn, Miss. Mary...|female|null|    0|    0|          335677|    7.75|       null|       Q|     0|          1|         0|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|    10.5|       null|       S|     1|          2|         0|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604| 82.1708|       null|       C|     1|          0|         1|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|    52.0|       null|       S|     1|          2|         1|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|null|    0|    0|            2677|  7.2292|       null|       C|     1|          0|         0|
|         38|       0|     3|Cann, Mr. Ernest ...|  male|21.0|    0|    0|      A./5. 2152|    8.05|       null|       S|     1|          2|         0|
|         39|       0|     3|Vander Planke, Mi...|female|18.0|    2|    0|          345764|    18.0|       null|       S|     0|          2|         2|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|            2651| 11.2417|       null|       C|     0|          0|         1|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|   9.475|       null|       S|     0|          2|         1|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|    21.0|       null|       S|     0|          2|         1|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|null|    0|    0|          349253|  7.8958|       null|       C|     1|          0|         0|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|   SC/Paris 2123| 41.5792|       null|       C|     0|          0|         3|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|          330958|  7.8792|       null|       Q|     0|          1|         0|
|         46|       0|     3|Rogers, Mr. Willi...|  male|null|    0|    0| S.C./A.4. 23567|    8.05|       null|       S|     1|          2|         0|
|         47|       0|     3|   Lennon, Mr. Denis|  male|null|    1|    0|          370371|    15.5|       null|       Q|     1|          1|         1|
|         48|       1|     3|O'Driscoll, Miss....|female|null|    0|    0|           14311|    7.75|       null|       Q|     0|          1|         0|
|         49|       0|     3| Samaan, Mr. Youssef|  male|null|    2|    0|            2662| 21.6792|       null|       C|     1|          0|         2|
|         50|       0|     3|Arnold-Franchi, M...|female|18.0|    1|    0|          349237|    17.8|       null|       S|     0|          2|         1|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+------+-----------+----------+
only showing top 50 rows

In [332]:
# process test data
# extract Mr, Mrs, Miss, Master
newTrainData = newTrainData.withColumn('title', 
                                     when(col('Name').like('%Master.%'), 'Master.')
                                     .when(col('Name').like('%Miss.%')
                                           | col('Name').like('%Mlle.%')
                                           | col('Name').like('%Ms.%'), 'Miss.')
                                     .when(col('Name').like('%Mrs.%') 
                                           | col('Name').like('%Mme.%')
                                           | col('Name').like('%Lady.%'), 'Mrs.')
                                     .when(col('Name').like('%Mr.%') 
                                           | col('Name').like('%Sir.%')
                                           | col('Name').like('%Major.%'), 'Mr.')
                                     .when(col('Name').like('%Rev.%'), 'Rev.')    
                                     .when(col('Name').like('%Dr.%'), 'Dr.')                                     
                                     .otherwise('Unknown.')
                                    )
newTestData = newTestData.withColumn('title', 
                                     when(col('Name').like('%Master.%'), 'Master.')
                                     .when(col('Name').like('%Miss.%')
                                           | col('Name').like('%Mlle.%')
                                           | col('Name').like('%Ms.%'), 'Miss.')
                                     .when(col('Name').like('%Mrs.%') 
                                           | col('Name').like('%Mme.%')
                                           | col('Name').like('%Lady.%'), 'Mrs.')
                                     .when(col('Name').like('%Mr.%') 
                                           | col('Name').like('%Sir.%')
                                           | col('Name').like('%Major.%'), 'Mr.')
                                     .when(col('Name').like('%Rev.%'), 'Rev.')    
                                     .when(col('Name').like('%Dr.%'), 'Dr.')                                     
                                     .otherwise('Unknown.')
                                    )

In [333]:
# Median age
newTrainData.approxQuantile('Age', [0.5], 0)
newTrainData.registerTempTable("df")
df2 = sqlContext.sql("select title, Pclass, percentile(Age,0.5) as median_age \
                      from df group by title, Pclass")
df2.show()
#newTrainData = newTrainData.withColumn('Age', 
#                        when(col('Age').isNull(), df2.select('approxQuantile').where('title' == col('title')))
#                        .otherwise(col('Age')))
#newTrainData.show(50)

+--------+------+----------+
|   title|Pclass|median_age|
+--------+------+----------+
|Unknown.|     1|      48.0|
|   Miss.|     2|      24.0|
| Master.|     1|       4.0|
|    Mrs.|     3|      31.0|
| Master.|     3|       4.0|
|     Mr.|     1|      41.0|
| Master.|     2|       1.0|
|   Miss.|     3|      18.0|
|     Dr.|     1|      46.5|
|     Mr.|     3|      26.0|
|    Mrs.|     1|      41.5|
|   Miss.|     1|      30.0|
|     Dr.|     2|      38.5|
|    Rev.|     2|      46.5|
|    Mrs.|     2|      32.0|
|     Mr.|     2|      31.0|
+--------+------+----------+

In [334]:
newTrainData = newTrainData.join(df2, ['title', 'Pclass'], "inner")
newTestData = newTestData.join(df2, ['title', 'Pclass'], "inner")
newTrainData.printSchema()

root
 |-- title: string (nullable = false)
 |-- Pclass: integer (nullable = true)
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- SexInt: integer (nullable = false)
 |-- embarkedInt: integer (nullable = false)
 |-- familySize: integer (nullable = true)
 |-- median_age: double (nullable = true)

In [335]:
newTrainData = newTrainData.withColumn('Age',
                                      when(col('Age').isNull(),
                                          col('median_age'))
                                      .otherwise(col('Age')))

newTestData = newTestData.withColumn('Age',
                                      when(col('Age').isNull(),
                                          col('median_age'))
                                      .otherwise(col('Age')))
newTrainData.show(50)

+--------+------+-----------+--------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+------+-----------+----------+----------+
|   title|Pclass|PassengerId|Survived|                Name|   Sex| Age|SibSp|Parch|          Ticket|    Fare|      Cabin|Embarked|SexInt|embarkedInt|familySize|median_age|
+--------+------+-----------+--------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+------+-----------+----------+----------+
|     Mr.|     3|          1|       0|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|    7.25|       null|       S|     1|          2|         1|      26.0|
|    Mrs.|     1|          2|       1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599| 71.2833|        C85|       C|     0|          0|         1|      41.5|
|   Miss.|     3|          3|       1|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|   7.925|       null|       S|     0|          2|         0|      18.0|
|    Mrs.|     1|          4|       1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|    53.1|       C123|       S|     0|          2|         1|      41.5|
|     Mr.|     3|          5|       0|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|    8.05|       null|       S|     1|          2|         0|      26.0|
|     Mr.|     3|          6|       0|    Moran, Mr. James|  male|26.0|    0|    0|          330877|  8.4583|       null|       Q|     1|          1|         0|      26.0|
|     Mr.|     1|          7|       0|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463| 51.8625|        E46|       S|     1|          2|         0|      41.0|
| Master.|     3|          8|       0|Palsson, Master. ...|  male| 2.0|    3|    1|          349909|  21.075|       null|       S|     1|          2|         4|       4.0|
|    Mrs.|     3|          9|       1|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742| 11.1333|       null|       S|     0|          2|         2|      31.0|
|    Mrs.|     2|         10|       1|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736| 30.0708|       null|       C|     0|          0|         1|      32.0|
|   Miss.|     3|         11|       1|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|    16.7|         G6|       S|     0|          2|         2|      18.0|
|   Miss.|     1|         12|       1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|   26.55|       C103|       S|     0|          2|         0|      30.0|
|     Mr.|     3|         13|       0|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|    8.05|       null|       S|     1|          2|         0|      26.0|
|     Mr.|     3|         14|       0|Andersson, Mr. An...|  male|39.0|    1|    5|          347082|  31.275|       null|       S|     1|          2|         6|      26.0|
|   Miss.|     3|         15|       0|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406|  7.8542|       null|       S|     0|          2|         0|      18.0|
|    Mrs.|     2|         16|       1|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|    16.0|       null|       S|     0|          2|         0|      32.0|
| Master.|     3|         17|       0|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652|  29.125|       null|       Q|     1|          1|         5|       4.0|
|     Mr.|     2|         18|       1|Williams, Mr. Cha...|  male|31.0|    0|    0|          244373|    13.0|       null|       S|     1|          2|         0|      31.0|
|    Mrs.|     3|         19|       0|Vander Planke, Mr...|female|31.0|    1|    0|          345763|    18.0|       null|       S|     0|          2|         1|      31.0|
|    Mrs.|     3|         20|       1|Masselmani, Mrs. ...|female|31.0|    0|    0|            2649|   7.225|       null|       C|     0|          0|         0|      31.0|
|     Mr.|     2|         21|       0|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|    26.0|       null|       S|     1|          2|         0|      31.0|
|     Mr.|     2|         22|       1|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|    13.0|        D56|       S|     1|          2|         0|      31.0|
|   Miss.|     3|         23|       1|"McGowan, Miss. A...|female|15.0|    0|    0|          330923|  8.0292|       null|       Q|     0|          1|         0|      18.0|
|     Mr.|     1|         24|       1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|    35.5|         A6|       S|     1|          2|         0|      41.0|
|   Miss.|     3|         25|       0|Palsson, Miss. To...|female| 8.0|    3|    1|          349909|  21.075|       null|       S|     0|          2|         4|      18.0|
|    Mrs.|     3|         26|       1|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077| 31.3875|       null|       S|     0|          2|         6|      31.0|
|     Mr.|     3|         27|       0|Emir, Mr. Farred ...|  male|26.0|    0|    0|            2631|   7.225|       null|       C|     1|          0|         0|      26.0|
|     Mr.|     1|         28|       0|Fortune, Mr. Char...|  male|19.0|    3|    2|           19950|   263.0|C23 C25 C27|       S|     1|          2|         5|      41.0|
|   Miss.|     3|         29|       1|"O'Dwyer, Miss. E...|female|18.0|    0|    0|          330959|  7.8792|       null|       Q|     0|          1|         0|      18.0|
|     Mr.|     3|         30|       0| Todoroff, Mr. Lalio|  male|26.0|    0|    0|          349216|  7.8958|       null|       S|     1|          2|         0|      26.0|
|Unknown.|     1|         31|       0|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601| 27.7208|       null|       C|     1|          0|         0|      48.0|
|    Mrs.|     1|         32|       1|Spencer, Mrs. Wil...|female|41.5|    1|    0|        PC 17569|146.5208|        B78|       C|     0|          0|         1|      41.5|
|   Miss.|     3|         33|       1|Glynn, Miss. Mary...|female|18.0|    0|    0|          335677|    7.75|       null|       Q|     0|          1|         0|      18.0|
|     Mr.|     2|         34|       0|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|    10.5|       null|       S|     1|          2|         0|      31.0|
|     Mr.|     1|         35|       0|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604| 82.1708|       null|       C|     1|          0|         1|      41.0|
|     Mr.|     1|         36|       0|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|    52.0|       null|       S|     1|          2|         1|      41.0|
|     Mr.|     3|         37|       1|    Mamee, Mr. Hanna|  male|26.0|    0|    0|            2677|  7.2292|       null|       C|     1|          0|         0|      26.0|
|     Mr.|     3|         38|       0|Cann, Mr. Ernest ...|  male|21.0|    0|    0|      A./5. 2152|    8.05|       null|       S|     1|          2|         0|      26.0|
|   Miss.|     3|         39|       0|Vander Planke, Mi...|female|18.0|    2|    0|          345764|    18.0|       null|       S|     0|          2|         2|      18.0|
|   Miss.|     3|         40|       1|Nicola-Yarred, Mi...|female|14.0|    1|    0|            2651| 11.2417|       null|       C|     0|          0|         1|      18.0|
|    Mrs.|     3|         41|       0|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|   9.475|       null|       S|     0|          2|         1|      31.0|
|    Mrs.|     2|         42|       0|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|    21.0|       null|       S|     0|          2|         1|      32.0|
|     Mr.|     3|         43|       0| Kraeff, Mr. Theodor|  male|26.0|    0|    0|          349253|  7.8958|       null|       C|     1|          0|         0|      26.0|
|   Miss.|     2|         44|       1|Laroche, Miss. Si...|female| 3.0|    1|    2|   SC/Paris 2123| 41.5792|       null|       C|     0|          0|         3|      24.0|
|   Miss.|     3|         45|       1|Devaney, Miss. Ma...|female|19.0|    0|    0|          330958|  7.8792|       null|       Q|     0|          1|         0|      18.0|
|     Mr.|     3|         46|       0|Rogers, Mr. Willi...|  male|26.0|    0|    0| S.C./A.4. 23567|    8.05|       null|       S|     1|          2|         0|      26.0|
|     Mr.|     3|         47|       0|   Lennon, Mr. Denis|  male|26.0|    1|    0|          370371|    15.5|       null|       Q|     1|          1|         1|      26.0|
|   Miss.|     3|         48|       1|O'Driscoll, Miss....|female|18.0|    0|    0|           14311|    7.75|       null|       Q|     0|          1|         0|      18.0|
|     Mr.|     3|         49|       0| Samaan, Mr. Youssef|  male|26.0|    2|    0|            2662| 21.6792|       null|       C|     1|          0|         2|      26.0|
|    Mrs.|     3|         50|       0|Arnold-Franchi, M...|female|18.0|    1|    0|          349237|    17.8|       null|       S|     0|          2|         1|      31.0|
+--------+------+-----------+--------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+------+-----------+----------+----------+
only showing top 50 rows

In [336]:
newTrainData.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
title,891,None,None,Dr.,Unknown.
Pclass,891,2.308641975308642,0.8360712409770491,1,3
PassengerId,891,446.0,257.3538420152301,1,891
Survived,891,0.3838383838383838,0.48659245426485753,0,1
Name,891,None,None,"""Andersson, Mr. August Edvard (""""Wennerstrom"""")""","van Melkebeke, Mr. Philemon"
Sex,891,None,None,female,male
Age,891,29.169102132435462,13.518293302028535,0.42,80.0
SibSp,891,0.5230078563411896,1.1027434322934315,0,8
Parch,891,0.38159371492704824,0.8060572211299488,0,6
Ticket,891,260318.54916792738,471609.26868834975,110152,WE/P 5735
Fare,891,32.2042079685746,49.69342859718089,0.0,512.3292
Cabin,204,None,None,A10,T
Embarked,889,None,None,C,S
SexInt,891,0.6475869809203143,0.4779900708960982,0,1
embarkedInt,891,1.5364758698092031,0.7915030036292712,0,2
familySize,891,0.9046015712682379,1.613458541355087,0,10
median_age,891,28.272166105499437,8.958471586597998,1.0,48.0

In [337]:
newTestData.describe().toPandas().transpose()

AnalysisException: u"Reference 'Pclass' is ambiguous, could be: Pclass#66056, Pclass#66032.;"

In [ ]:
featureColumns = ['Pclass', 'SexInt', 'Age', 'familySize', 'Fare', 'embarkedInt']

In [ ]:
# Delete non useful fields
newTrainData = newTrainData.drop('Cabin', 'Ticket', 'PassengerId', 'Embarked')
newTestData = newTestData.drop('Cabin', 'Ticket', 'Embarked')
#newTrainData = newTrainData.na.drop()
#newTestData = newTestData.na.drop()
#newTrainData.printSchema()
#newTestData.count()

In [ ]:
newTrainData.describe().toPandas().transpose()

In [ ]:
newTestData = newTestData.withColumn('Fare',
                                      when(col('Fare').isNull(),
                                          35.6271)
                                      .otherwise(col('Fare')))
newTestData.describe().toPandas().transpose()

In [ ]:
assembler = VectorAssembler(inputCols=featureColumns, outputCol="features")
assembledTrainData = assembler.transform(newTrainData)
assembledTestData = assembler.transform(newTestData)
assembledTrainData.count()
assembledTestData.count()

In [ ]:
# Index labels, adding metadata to the label column.
# Fit on whole dataset to include all labels in index.
labelIndexer = StringIndexer(inputCol="Survived", outputCol="indexedLabel").fit(assembledTrainData)
# Automatically identify categorical features, and index them.
# We specify maxCategories so features with > 4 distinct values are treated as continuous.
featureIndexer =\
    VectorIndexer(inputCol="features", outputCol="indexedFeatures", maxCategories=4).fit(assembledTrainData)

In [ ]:
# Train a DecisionTree model.
dt = DecisionTreeClassifier(labelCol="indexedLabel", featuresCol="indexedFeatures")

In [ ]:
#pipeline = Pipeline(stages=[dt])
#model = pipeline.fit(assembled)
# Chain indexers and tree in a Pipeline
pipeline = Pipeline(stages=[labelIndexer, featureIndexer, dt])
# Train model.  This also runs the indexers.
model = pipeline.fit(assembledTrainData)

In [ ]:
# Make predictions.
predictions = model.transform(assembledTestData)

In [ ]:
predictions.printSchema()
predictions.count(), submissionData.count()
predictions = predictions.withColumn("Survived", predictions["prediction"].cast(IntegerType()))
predictions.select("PassengerId", "Survived") \
            .write.format('com.databricks.spark.csv').save('mycsv_2.csv', header='true')

In [ ]:
extractedPredictions = predictions.select("PassengerId", "prediction")
output = submissionData.join(extractedPredictions,['PassengerId'],"inner")
predictionAndLabels = output.select("prediction", "Survived")

In [ ]:
# Select (prediction, true label) and compute test error
evaluator = MulticlassClassificationEvaluator(
    labelCol="Survived", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictionAndLabels)
print("Test accuracy = %g " % (accuracy))

treeModel = model.stages[2]